fastapi[standard]
uvicorn[standard]
redis
aio-pika
alembic
sqlalchemy[asyncio]
asyncpg
python-jose
python-multipart
argon2-cffi
python-dotenv
email-validator
pillow
python-dateutil
pytest
pytest-asyncio
pytest-cov
httpx
python-json-logger